<html>
    <body id="home">
        <div class="logo-container">
            <%- include('header') %>
            <h2> <%- vaga.titulo %> </h2>
            <div>
                <ul><%- vaga.descricao %></ul>
            </div>
        </div>
    </body>
</html>

